.Page-home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: wheat;
    width: auto;
    height: auto;
    color:black;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.resize {
    width:auto;
	max-width:100%;
	height:auto;
} 

.image {
    height: auto;
    width: 400px;

}
