.item-enter {
  opacity: 0;
  background-color: #282c34;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  background-color: #282c34;
}
.item-exit {
  opacity: 1;
  background-color: #282c34;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
  background-color: #282c34;
}

.page{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  /*background-image: url("components/assets/water.jpg");*/
  background-color: royalblue;
}

.Nav-bar {
  background-color: goldenrod;
  top: 0vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: auto;
  margin: 15px;
  height: 60px;
  color: white;
}

.tabs {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.tabs:visited { text-decoration: none; color: white; }
